@font-face {
  font-family: "CSES-ICONFONT"; /* Project id 4180856 */
  src: url('iconfont.woff2?t=1780547445638') format('woff2'),
       url('iconfont.woff?t=1780547445638') format('woff'),
       url('iconfont.ttf?t=1780547445638') format('truetype');
}

.CSES {
  font-family: "CSES-ICONFONT" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cses-a-ganwuriqi276:before {
  content: "\e716";
}

.cses-a-ganwuriqi438:before {
  content: "\e8c4";
}

.cses-a-ganwuriqi951:before {
  content: "\e9ab";
}

.cses-gongzuotai1:before {
  content: "\e8ae";
}

.cses-renwuliucheng:before {
  content: "\e6ac";
}

.cses-renwuliucheng1:before {
  content: "\e6c3";
}

.cses-tdudaoxiangmianxing1:before {
  content: "\e9ac";
}

.cses-AIzhushou:before {
  content: "\e781";
}

.cses-gongzuotaimianxing:before {
  content: "\e9b7";
}

.cses-wendangmianxing:before {
  content: "\e9b2";
}

.cses-xiaoximianxing:before {
  content: "\e9b5";
}

.cses-huiyimianxing:before {
  content: "\e9b6";
}

.cses-ganwu:before {
  content: "\e9ad";
}

.cses-toupiao2:before {
  content: "\e9aa";
}

.cses-houyizhang:before {
  content: "\e9a9";
}

.cses-yuanshichicun-1:before {
  content: "\e9a0";
}

.cses-yuanshichicun-2:before {
  content: "\e9a1";
}

.cses-fenxiang2:before {
  content: "\e9a2";
}

.cses-xiazai2:before {
  content: "\e9a3";
}

.cses-a-tiquwenzi1:before {
  content: "\e9a4";
}

.cses-xiaoxi2:before {
  content: "\e9a5";
}

.cses-qianyizhang:before {
  content: "\e9a6";
}

.cses-fangda5:before {
  content: "\e9a7";
}

.cses-suoxiao1:before {
  content: "\e9a8";
}

.cses-yuanshichicun:before {
  content: "\e99f";
}

.cses-zibiaodan:before {
  content: "\e99d";
}

.cses-danchuang:before {
  content: "\e99e";
}

.cses-ziyouhuabu1:before {
  content: "\e99c";
}

.cses-jueduidingweifenzu:before {
  content: "\e999";
}

.cses-ziyouhuabu:before {
  content: "\e99a";
}

.cses-column-vertical-01:before {
  content: "\e99b";
}

.cses-shuzu:before {
  content: "\e98f";
}

.cses-a-kaiguan1:before {
  content: "\e990";
}

.cses-zhagebuju:before {
  content: "\e991";
}

.cses-kapian:before {
  content: "\e992";
}

.cses-dongtaiziduanqu:before {
  content: "\e993";
}

.cses-fenzu3:before {
  content: "\e994";
}

.cses-a-hezibiaoqian1:before {
  content: "\e995";
}

.cses-huobi:before {
  content: "\e996";
}

.cses-hezi:before {
  content: "\e997";
}

.cses-danxingbuju:before {
  content: "\e998";
}

.cses-yunwendang:before {
  content: "\e98e";
}

.cses-bofang2:before {
  content: "\e98a";
}

.cses-tingzhi2:before {
  content: "\e98c";
}

.cses-zhuanwenben:before {
  content: "\e98b";
}

.cses-tingzhi1:before {
  content: "\e98d";
}

.cses-jieshuluzhi:before {
  content: "\e989";
}

.cses-fenzu2:before {
  content: "\e988";
}

.cses-fenlan:before {
  content: "\e980";
}

.cses-fabu:before {
  content: "\e981";
}

.cses-chouti:before {
  content: "\e982";
}

.cses-danxuankuang:before {
  content: "\e983";
}

.cses-dengbi:before {
  content: "\e984";
}

.cses-fuxuankuang:before {
  content: "\e985";
}

.cses-xiala1:before {
  content: "\e986";
}

.cses-fuzhi1:before {
  content: "\e987";
}

.cses-shouji1:before {
  content: "\e975";
}

.cses-biaodan-tianjia:before {
  content: "\e976";
}

.cses-diannao1:before {
  content: "\e977";
}

.cses-jutiriqi:before {
  content: "\e978";
}

.cses-dianji:before {
  content: "\e979";
}

.cses-biaodan-sousuo:before {
  content: "\e97a";
}

.cses-tuodong:before {
  content: "\e97b";
}

.cses-biaoti:before {
  content: "\e97c";
}

.cses-jutishijian:before {
  content: "\e97d";
}

.cses-jianju:before {
  content: "\e97e";
}

.cses-shanchu3:before {
  content: "\e97f";
}

.cses-shuzi:before {
  content: "\e970";
}

.cses-wenben1:before {
  content: "\e971";
}

.cses-shujuyuan:before {
  content: "\e972";
}

.cses-riqishijian:before {
  content: "\e973";
}

.cses-fengexian:before {
  content: "\e974";
}

.cses-shangchuan:before {
  content: "\e96f";
}

.cses-dianhuahaoma:before {
  content: "\e965";
}

.cses-dianziyouxiang:before {
  content: "\e966";
}

.cses-xialaxuanze:before {
  content: "\e967";
}

.cses-tubiao1:before {
  content: "\e968";
}

.cses-wendangku1:before {
  content: "\e969";
}

.cses-fujian5:before {
  content: "\e96a";
}

.cses-bumen2:before {
  content: "\e96b";
}

.cses-tupian4:before {
  content: "\e96c";
}

.cses-shouxieqianming1:before {
  content: "\e96d";
}

.cses-mima:before {
  content: "\e96e";
}

.cses-tixing1:before {
  content: "\e95e";
}

.cses-tishi:before {
  content: "\e95f";
}

.cses-didian:before {
  content: "\e960";
}

.cses-xiding:before {
  content: "\e961";
}

.cses-biaoqian3:before {
  content: "\e962";
}

.cses-zimubiao:before {
  content: "\e963";
}

.cses-duobiaoqianye:before {
  content: "\e964";
}

.cses-anniu:before {
  content: "\e95c";
}

.cses-yanse:before {
  content: "\e95d";
}

.cses-wendangku:before {
  content: "\e95b";
}

.cses-xiaoxi-tongzhi:before {
  content: "\e956";
}

.cses-xiaoxi-dingshifasong:before {
  content: "\e957";
}

.cses-xiaoxi-xiaoxijilu:before {
  content: "\e958";
}

.cses-xiaoxi-zhidingxiaoxi:before {
  content: "\e959";
}

.cses-xiaoxi-zhuanfa:before {
  content: "\e95a";
}

.cses-xiala:before {
  content: "\e955";
}

.cses-tiwenliebiao:before {
  content: "\e94e";
}

.cses-tingtong:before {
  content: "\e94f";
}

.cses-dianpingliebiao:before {
  content: "\e950";
}

.cses-hudongkaiqi:before {
  content: "\e951";
}

.cses-renyuan:before {
  content: "\e952";
}

.cses-shexiangtou:before {
  content: "\e953";
}

.cses-a-Frame1000010388:before {
  content: "\e954";
}

.cses-paixuxia:before {
  content: "\e94c";
}

.cses-paixushang:before {
  content: "\e94d";
}

.cses-clock-forward:before {
  content: "\e94b";
}

.cses-shandian:before {
  content: "\e94a";
}

.cses-quanbu:before {
  content: "\e948";
}

.cses-quxiaozhiding:before {
  content: "\e946";
}

.cses-tuichu1:before {
  content: "\e947";
}

.cses-zhiding3:before {
  content: "\e944";
}

.cses-zishu2:before {
  content: "\e941";
}

.cses-huiyidaoxiang1:before {
  content: "\e942";
}

.cses-meirenfenxiangshijian:before {
  content: "\e943";
}

.cses-xuanzeTdudaoxiang:before {
  content: "\e945";
}

.cses-KRzhuti1:before {
  content: "\e940";
}

.cses-huifu1:before {
  content: "\e93f";
}

.cses-jielong2:before {
  content: "\e93d";
}

.cses-aite2:before {
  content: "\e93e";
}

.cses-xiaoxi1:before {
  content: "\e93c";
}

.cses-shenhe1:before {
  content: "\e93a";
}

.cses-jiaji:before {
  content: "\e93b";
}

.cses-putonghuiyi:before {
  content: "\e938";
}

.cses-kuaisuhuiyi:before {
  content: "\e939";
}

.cses-xiaoxi:before {
  content: "\e937";
}

.cses-a-Group1043:before {
  content: "\e936";
}

.cses-shexiangtoukaiqi:before {
  content: "\e935";
}

.cses-shanshuo:before {
  content: "\e934";
}

.cses-video:before {
  content: "\e933";
}

.cses-yijiaozhuchiren:before {
  content: "\e932";
}

.cses-shuiyin:before {
  content: "\e930";
}

.cses-xunibeijing1:before {
  content: "\e931";
}

.cses-zimu:before {
  content: "\e92f";
}

.cses-wenben:before {
  content: "\e92a";
}

.cses-zhongzuo:before {
  content: "\e92b";
}

.cses-wenzi:before {
  content: "\e92c";
}

.cses-shubiao:before {
  content: "\e92d";
}

.cses-guanbi1:before {
  content: "\e92e";
}

.cses-jiguangbi:before {
  content: "\e84b";
}

.cses-baocun1:before {
  content: "\e8c0";
}

.cses-huabi:before {
  content: "\e8e9";
}

.cses-xuanze:before {
  content: "\e912";
}

.cses-tuxing:before {
  content: "\e924";
}

.cses-qingkong:before {
  content: "\e925";
}

.cses-chexiao1:before {
  content: "\e926";
}

.cses-xiangpica:before {
  content: "\e927";
}

.cses-shezhi:before {
  content: "\e928";
}

.cses-KRzhuti:before {
  content: "\e929";
}

.cses-KRzhuti-copy:before {
  content: "\e923";
}

.cses-zhiding2:before {
  content: "\e8c8";
}

.cses-huiyidaoxiang:before {
  content: "\e797";
}

.cses-zishu1:before {
  content: "\e798";
}

.cses-biaoqian2:before {
  content: "\e7ba";
}

.cses-huiyixinxi:before {
  content: "\e74d";
}

.cses-xunibeijing:before {
  content: "\e78e";
}

.cses-fenxiangxinxi:before {
  content: "\e78f";
}

.cses-shenhe:before {
  content: "\e792";
}

.cses-gerenbiji:before {
  content: "\e795";
}

.cses-settings:before {
  content: "\e6d3";
}

.cses-zishu:before {
  content: "\e922";
}

.cses-tongzhi:before {
  content: "\e920";
}

.cses-dingshi:before {
  content: "\e921";
}

.cses-to:before {
  content: "\e91f";
}

.cses-huifu:before {
  content: "\e91a";
}

.cses-huati1:before {
  content: "\e91b";
}

.cses-biaoqing3:before {
  content: "\e91c";
}

.cses-gengduo7:before {
  content: "\e91d";
}

.cses-zhuanfa1:before {
  content: "\e91e";
}

.cses-chuangjianqunliao1:before {
  content: "\e919";
}

.cses-fasongxianxing:before {
  content: "\e90a";
}

.cses-a-31dianhua2:before {
  content: "\e911";
}

.cses-chuangjianqunliao:before {
  content: "\e913";
}

.cses-a-yijianyidu1:before {
  content: "\e914";
}

.cses-fasong1:before {
  content: "\e915";
}

.cses-miandarao:before {
  content: "\e916";
}

.cses-wenjian2:before {
  content: "\e917";
}

.cses-a-Component217:before {
  content: "\e918";
}

.cses-gonggao2:before {
  content: "\e907";
}

.cses-tupian3:before {
  content: "\e908";
}

.cses-mobanxiaoxi:before {
  content: "\e909";
}

.cses-sousuo1:before {
  content: "\e90b";
}

.cses-tianjiachengyuan1:before {
  content: "\e90c";
}

.cses-biaoqing2:before {
  content: "\e90d";
}

.cses-gengduo6:before {
  content: "\e90e";
}

.cses-quxiaomiandarao:before {
  content: "\e90f";
}

.cses-pingjunfen1:before {
  content: "\e910";
}

.cses-qiehuangongsi:before {
  content: "\e903";
}

.cses-jielong1:before {
  content: "\e904";
}

.cses-jietu:before {
  content: "\e905";
}

.cses-fangda4:before {
  content: "\e906";
}

.cses-banxuanzhong:before {
  content: "\e902";
}

.cses-duoxuanbanxuanzhong:before {
  content: "\e647";
}

.cses-ri:before {
  content: "\e901";
}

.cses-yue:before {
  content: "\e8ff";
}

.cses-zhou:before {
  content: "\e900";
}

.cses-youtube:before {
  content: "\e8fd";
}

.cses-note-02:before {
  content: "\e8fe";
}

.cses-wentizhiding:before {
  content: "\e765";
}

.cses-quanxian1:before {
  content: "\e8fc";
}

.cses-dianping:before {
  content: "\e8fb";
}

.cses-quxiaoding:before {
  content: "\e8f2";
}

.cses-ding:before {
  content: "\e8f4";
}

.cses-yaoqingkaimai:before {
  content: "\e8fa";
}

.cses-yichu:before {
  content: "\e8f9";
}

.cses-fasong:before {
  content: "\e8f8";
}

.cses-a-dianping-copy2:before {
  content: "\e8f7";
}

.cses-fangda3:before {
  content: "\e8f5";
}

.cses-suoxiao:before {
  content: "\e8f6";
}

.cses-a-Group1000006566:before {
  content: "\e8f3";
}

.cses-zhankaigonggaohou:before {
  content: "\e8f0";
}

.cses-wendangxinxizhanshi:before {
  content: "\e8f1";
}

.cses-zhankaigonggaoqian:before {
  content: "\e8ef";
}

.cses-erjidaohang_zhishiku:before {
  content: "\e8ee";
}

.cses-ren:before {
  content: "\e8ed";
}

.cses-chakanhuiyixiangqing:before {
  content: "\e8ec";
}

.cses-video-on:before {
  content: "\e8eb";
}

.cses-gengduo5:before {
  content: "\e8e7";
}

.cses-kaishitoupiao:before {
  content: "\e8e8";
}

.cses-tiwen2:before {
  content: "\e8ea";
}

.cses-gongxiang2:before {
  content: "\e8e2";
}

.cses-guanbiyuyin:before {
  content: "\e8e3";
}

.cses-yuyin3:before {
  content: "\e8e4";
}

.cses-guanbishipin:before {
  content: "\e8e5";
}

.cses-tianxie:before {
  content: "\e8e6";
}

.cses-jinyan:before {
  content: "\e8e1";
}

.cses-shexiangtoukaiqi1:before {
  content: "\e8e0";
}

.cses-xiafangrenwu:before {
  content: "\e8df";
}

.cses-overlap:before {
  content: "\e8de";
}

.cses-daimahuitu:before {
  content: "\e8dd";
}

.cses-daimakuai:before {
  content: "\e8dc";
}

.cses-dianzan1:before {
  content: "\e8db";
}

.cses-gongxiang1:before {
  content: "\e8d9";
}

.cses-kuaijiefangshi:before {
  content: "\e8da";
}

.cses-jilu2:before {
  content: "\e8d8";
}

.cses-yichuchengyuan:before {
  content: "\e8d7";
}

.cses-a-104:before {
  content: "\e8d6";
}

.cses-a-103:before {
  content: "\e8d0";
}

.cses-a-106:before {
  content: "\e8d2";
}

.cses-a-102:before {
  content: "\e8d3";
}

.cses-a-105:before {
  content: "\e8d4";
}

.cses-a-101:before {
  content: "\e8d5";
}

.cses-a-Frame1000004412:before {
  content: "\e8cf";
}

.cses-fuzhi3:before {
  content: "\e8d1";
}

.cses-qianjin1:before {
  content: "\e8c9";
}

.cses-chexiao:before {
  content: "\e8ca";
}

.cses-diannao:before {
  content: "\e8cb";
}

.cses-lishijilu:before {
  content: "\e8cc";
}

.cses-zhuanhua:before {
  content: "\e8cd";
}

.cses-shouji:before {
  content: "\e8ce";
}

.cses-quanbuzhiding:before {
  content: "\e8c6";
}

.cses-fanhuiyuanwen:before {
  content: "\e8c7";
}

.cses-zuixiaohua:before {
  content: "\e8c3";
}

.cses-guanbi2:before {
  content: "\e8c5";
}

.cses-jieshutoupiao:before {
  content: "\e8c2";
}

.cses-xiugaishijian:before {
  content: "\e8c1";
}

.cses-shexiangtouguanbi:before {
  content: "\e8bf";
}

.cses-guanzhu:before {
  content: "\e8be";
}

.cses-jiaban:before {
  content: "\e8ba";
}

.cses-qingjia-2:before {
  content: "\e8bb";
}

.cses-chanjia:before {
  content: "\e8bc";
}

.cses-qingjia-1:before {
  content: "\e8bd";
}

.cses-zhaopin:before {
  content: "\e8b2";
}

.cses-waichu:before {
  content: "\e8b3";
}

.cses-qingjia:before {
  content: "\e8b4";
}

.cses-lizhi:before {
  content: "\e8b5";
}

.cses-waichudaka:before {
  content: "\e8b6";
}

.cses-renyuandangan:before {
  content: "\e8b7";
}

.cses-ruzhi:before {
  content: "\e8b8";
}

.cses-chalv:before {
  content: "\e8b9";
}

.cses-renwu:before {
  content: "\e8b1";
}

.cses-wenjian1:before {
  content: "\e8ad";
}

.cses-tupian2:before {
  content: "\e8af";
}

.cses-pingjunfen:before {
  content: "\e8b0";
}

.cses-jielong:before {
  content: "\e8ab";
}

.cses-toupiao1:before {
  content: "\e8ac";
}

.cses-gongzuoliu_liuchengsheji_duineiduiwaishenpiren:before {
  content: "\e8a6";
}

.cses-gongzuoliu_liuchengsheji_tiaojianfenzhi:before {
  content: "\e8a7";
}

.cses-gongzuoliu_liuchengsheji_duineiduiwaibanliren:before {
  content: "\e8a8";
}

.cses-gongzuoliu_liuchengsheji_duineiduiwaichaosongren:before {
  content: "\e8a9";
}

.cses-gongzuoliu_liuchengsheji_binghangfenzhi:before {
  content: "\e8aa";
}

.cses-biaoqing1:before {
  content: "\e8a5";
}

.cses-jilu1:before {
  content: "\e8a4";
}

.cses-message-square-plus:before {
  content: "\e8a3";
}

.cses-fuzhi:before {
  content: "\e8a1";
}

.cses-target-01:before {
  content: "\e8a2";
}

.cses-mokuai:before {
  content: "\e8a0";
}

.cses-quxiaoqianzhixiang:before {
  content: "\e89e";
}

.cses-quxiaohouzhixiang:before {
  content: "\e89f";
}

.cses-wendang:before {
  content: "\e89a";
}

.cses-dianhua:before {
  content: "\e89b";
}

.cses-xialadanxuan:before {
  content: "\e89c";
}

.cses-gonggao1:before {
  content: "\e89d";
}

.cses-a-guanlianshenpi1:before {
  content: "\e899";
}

.cses-duoxuan1:before {
  content: "\e898";
}

.cses-guanlianxuanxiang:before {
  content: "\e897";
}

.cses-piliangtianjia:before {
  content: "\e87f";
}

.cses-tianjiaqita:before {
  content: "\e880";
}

.cses-fujian4:before {
  content: "\e881";
}

.cses-duoxuan:before {
  content: "\e882";
}

.cses-jine:before {
  content: "\e883";
}

.cses-shenfenzheng:before {
  content: "\e884";
}

.cses-fenzu1:before {
  content: "\e885";
}

.cses-kejianfanwei:before {
  content: "\e886";
}

.cses-user-profile-add-01:before {
  content: "\e887";
}

.cses-duohangwenben:before {
  content: "\e888";
}

.cses-danxuan1:before {
  content: "\e889";
}

.cses-jindu1:before {
  content: "\e88a";
}

.cses-riqi1:before {
  content: "\e88b";
}

.cses-shouxieqianming:before {
  content: "\e88c";
}

.cses-tiaojian1:before {
  content: "\e88d";
}

.cses-bujurongqi1:before {
  content: "\e88e";
}

.cses-tupian1:before {
  content: "\e88f";
}

.cses-jisuangongshi1:before {
  content: "\e890";
}

.cses-danhangwenben1:before {
  content: "\e891";
}

.cses-riqiqujian:before {
  content: "\e892";
}

.cses-pingfen1:before {
  content: "\e893";
}

.cses-shuzhi1:before {
  content: "\e894";
}

.cses-shuoming:before {
  content: "\e895";
}

.cses-shengshiqu1:before {
  content: "\e896";
}

.cses-tiaojian:before {
  content: "\e879";
}

.cses-danxuan:before {
  content: "\e87a";
}

.cses-bujurongqi:before {
  content: "\e87b";
}

.cses-jindu:before {
  content: "\e87c";
}

.cses-jisuangongshi:before {
  content: "\e87d";
}

.cses-danhangwenben:before {
  content: "\e87e";
}

.cses-fujian3:before {
  content: "\e874";
}

.cses-shengshiqu:before {
  content: "\e875";
}

.cses-riqi:before {
  content: "\e876";
}

.cses-shuzhi:before {
  content: "\e877";
}

.cses-pingfen:before {
  content: "\e878";
}

.cses-dayin1:before {
  content: "\e86d";
}

.cses-weituo:before {
  content: "\e86e";
}

.cses-shenpizhongxin:before {
  content: "\e86f";
}

.cses-kuazuzhishenpi:before {
  content: "\e870";
}

.cses-qunzutaolun1:before {
  content: "\e871";
}

.cses-shibai:before {
  content: "\e872";
}

.cses-jinchengzhong:before {
  content: "\e873";
}

.cses-chenggong:before {
  content: "\e86c";
}

.cses-shuikeyifenxiangbiaodan:before {
  content: "\e868";
}

.cses-fenzu:before {
  content: "\e869";
}

.cses-paixu1:before {
  content: "\e86a";
}

.cses-tubiao:before {
  content: "\e86b";
}

.cses-qunzutaolun:before {
  content: "\e860";
}

.cses-fuzhilianjie:before {
  content: "\e861";
}

.cses-fenxiang1:before {
  content: "\e862";
}

.cses-pizhu:before {
  content: "\e863";
}

.cses-dayin:before {
  content: "\e864";
}

.cses-xiazai1:before {
  content: "\e865";
}

.cses-guanlihoutai:before {
  content: "\e866";
}

.cses-wangyedakai:before {
  content: "\e867";
}

.cses-jiaqian:before {
  content: "\e85e";
}

.cses-chehui:before {
  content: "\e85f";
}

.cses-faqiqunliao:before {
  content: "\e85c";
}

.cses-tuihui:before {
  content: "\e85d";
}

.cses-shouye:before {
  content: "\e859";
}

.cses-jiantou:before {
  content: "\e85a";
}

.cses-biaodan:before {
  content: "\e85b";
}

.cses-yifaqi:before {
  content: "\e84f";
}

.cses-aite1:before {
  content: "\e850";
}

.cses-rili1:before {
  content: "\e851";
}

.cses-yichuli:before {
  content: "\e852";
}

.cses-shanchu2:before {
  content: "\e853";
}

.cses-dianzan:before {
  content: "\e854";
}

.cses-tupian:before {
  content: "\e855";
}

.cses-woshoudaode:before {
  content: "\e856";
}

.cses-pinglun:before {
  content: "\e857";
}

.cses-fujian2:before {
  content: "\e858";
}

.cses-qiehuanshexiangtou:before {
  content: "\e84e";
}

.cses-tianjia:before {
  content: "\e84d";
}

.cses-shanchu1:before {
  content: "\e84c";
}

.cses-a-igw-l-display-no2:before {
  content: "\e849";
}

.cses-a-igw-l-display-no1:before {
  content: "\e84a";
}

.cses-gantetuliebiaozhankai_xinchuangkoudakai:before {
  content: "\e843";
}

.cses-gantetuliebiaozhankai_zhankaixiangqing:before {
  content: "\e844";
}

.cses-gantetuliebiaozhankai_qianzhixiang:before {
  content: "\e845";
}

.cses-gantetuliebiaozhankai_shezhitixing:before {
  content: "\e846";
}

.cses-gantetuliebiaozhankai_houzhixiang:before {
  content: "\e847";
}

.cses-gantetuliebiaozhankai_fenxiang:before {
  content: "\e848";
}

.cses-shuqian:before {
  content: "\e842";
}

.cses-zhuanfa:before {
  content: "\e83d";
}

.cses-kaiqiliaotian:before {
  content: "\e83e";
}

.cses-guanbiliaotian:before {
  content: "\e83f";
}

.cses-zhutiaozhuanfa:before {
  content: "\e840";
}

.cses-gonggao:before {
  content: "\e841";
}

.cses-wenjian:before {
  content: "\e838";
}

.cses-shezhi3:before {
  content: "\e839";
}

.cses-hebingzhuanfa:before {
  content: "\e83a";
}

.cses-zhiding1:before {
  content: "\e83b";
}

.cses-daiban:before {
  content: "\e83c";
}

.cses-zaidulichuangkoudakai:before {
  content: "\e830";
}

.cses-yichuhuihua:before {
  content: "\e831";
}

.cses-tianjiadaofenzu:before {
  content: "\e832";
}

.cses-xiaoximiandarao:before {
  content: "\e833";
}

.cses-zhiding:before {
  content: "\e834";
}

.cses-zaixinbiaoqianyedakai:before {
  content: "\e835";
}

.cses-xiaoxiqiangtixing:before {
  content: "\e836";
}

.cses-yiduduigou:before {
  content: "\e837";
}

.cses-tonghua:before {
  content: "\e82f";
}

.cses-fabuqungonggao:before {
  content: "\e82e";
}

.cses-gongxiang:before {
  content: "\e829";
}

.cses-shezhi2:before {
  content: "\e82a";
}

.cses-jilu:before {
  content: "\e82b";
}

.cses-tianjiachengyuan:before {
  content: "\e82c";
}

.cses-gengduo4:before {
  content: "\e82d";
}

.cses-aite:before {
  content: "\e828";
}

.cses-a-Frame1000004990:before {
  content: "\e826";
}

.cses-jieping1:before {
  content: "\e827";
}

.cses-xinjianhuihua:before {
  content: "\e81e";
}

.cses-fangda1:before {
  content: "\e81f";
}

.cses-huati:before {
  content: "\e820";
}

.cses-biaoqing:before {
  content: "\e821";
}

.cses-gengduo3:before {
  content: "\e822";
}

.cses-qitagongsi:before {
  content: "\e823";
}

.cses-gengduo-1:before {
  content: "\e824";
}

.cses-yuyin2:before {
  content: "\e825";
}

.cses-baocun:before {
  content: "\e81d";
}

.cses-cuowu:before {
  content: "\e81b";
}

.cses-jinhangzhong:before {
  content: "\e81c";
}

.cses-wancheng:before {
  content: "\e81a";
}

.cses-huifurenwu:before {
  content: "\e819";
}

.cses-a-Frame427321392:before {
  content: "\e818";
}

.cses-indent-increase:before {
  content: "\e817";
}

.cses-huitui15:before {
  content: "\e7ad";
}

.cses-kuaijin15:before {
  content: "\e7bf";
}

.cses-liebiao2:before {
  content: "\e7c9";
}

.cses-zanting1:before {
  content: "\e7ca";
}

.cses-yinliang1:before {
  content: "\e7cd";
}

.cses-bofang1:before {
  content: "\e7ce";
}

.cses-jieping:before {
  content: "\e7cf";
}

.cses-beisu:before {
  content: "\e814";
}

.cses-quanping:before {
  content: "\e815";
}

.cses-a-xiaochuangchuliwan:before {
  content: "\e816";
}

.cses-sousuo:before {
  content: "\e80b";
}

.cses-zhongzhichangtai:before {
  content: "\e80c";
}

.cses-jieshou:before {
  content: "\e80d";
}

.cses-shaixuanxuanfu:before {
  content: "\e80e";
}

.cses-shaixuanchangtai:before {
  content: "\e80f";
}

.cses-jujueorshanchurenwuchangtai:before {
  content: "\e810";
}

.cses-wanchengrenwu:before {
  content: "\e811";
}

.cses-paixu:before {
  content: "\e812";
}

.cses-jujuexuanfu:before {
  content: "\e813";
}

.cses-guaqi:before {
  content: "\e802";
}

.cses-tixing:before {
  content: "\e803";
}

.cses-lianjiewenti:before {
  content: "\e804";
}

.cses-xuanzeriqi:before {
  content: "\e805";
}

.cses-chuanyue:before {
  content: "\e806";
}

.cses-gengduo2:before {
  content: "\e807";
}

.cses-fenxiang:before {
  content: "\e808";
}

.cses-zhongzhixuanfu:before {
  content: "\e809";
}

.cses-xuanzekuangweixuan:before {
  content: "\e80a";
}

.cses-youxianji1:before {
  content: "\e7f7";
}

.cses-biaoqian1:before {
  content: "\e7f8";
}

.cses-shijianqujian:before {
  content: "\e7f9";
}

.cses-xiala14_14:before {
  content: "\e7fa";
}

.cses-shanchu12_12:before {
  content: "\e7fb";
}

.cses-shanchu18_18:before {
  content: "\e7fc";
}

.cses-zhankaiyongdao:before {
  content: "\e7fd";
}

.cses-shouhuiyongdao:before {
  content: "\e7fe";
}

.cses-xietongrenwu:before {
  content: "\e7ff";
}

.cses-chuangjianhuiyi:before {
  content: "\e800";
}

.cses-xiaochuangkou:before {
  content: "\e801";
}

.cses-fuzeren1:before {
  content: "\e7f2";
}

.cses-xietongren:before {
  content: "\e7f3";
}

.cses-bumen1:before {
  content: "\e7f4";
}

.cses-shijian1:before {
  content: "\e7f5";
}

.cses-xiangmujimokuai1:before {
  content: "\e7f6";
}

.cses-xiangmujimokuai:before {
  content: "\e7f1";
}

.cses-wochuangjiande:before {
  content: "\e7d0";
}

.cses-caogaoxiang:before {
  content: "\e7d1";
}

.cses-daichulide:before {
  content: "\e7d2";
}

.cses-huishouzhan:before {
  content: "\e7d3";
}

.cses-woderenwu:before {
  content: "\e7d4";
}

.cses-wofuzede:before {
  content: "\e7d5";
}

.cses-hebingrenwu:before {
  content: "\e7d6";
}

.cses-tianjiarenwuorzirenwu:before {
  content: "\e7d7";
}

.cses-yidongshijianchangduan:before {
  content: "\e7d8";
}

.cses-yidongweizhi:before {
  content: "\e7d9";
}

.cses-qianzhirenwu:before {
  content: "\e7da";
}

.cses-houzhirenwu:before {
  content: "\e7db";
}

.cses-fujian1:before {
  content: "\e7dc";
}

.cses-biaoqian:before {
  content: "\e7dd";
}

.cses-bumen:before {
  content: "\e7de";
}

.cses-a-jiezhishijianweiyuqi:before {
  content: "\e7df";
}

.cses-a-jiezhishijianjinrijiezhi:before {
  content: "\e7e0";
}

.cses-shanchu:before {
  content: "\e7e1";
}

.cses-shixiang:before {
  content: "\e7e2";
}

.cses-laiyuan1:before {
  content: "\e7e3";
}

.cses-kaishishijian:before {
  content: "\e7e4";
}

.cses-a-jiezhishijianyuqi:before {
  content: "\e7e5";
}

.cses-shijian:before {
  content: "\e7e6";
}

.cses-youxianji:before {
  content: "\e7e7";
}

.cses-a-tixingyuqi:before {
  content: "\e7e8";
}

.cses-a-tixingyitianjia:before {
  content: "\e7e9";
}

.cses-a-tixingjinrijiezhi:before {
  content: "\e7ea";
}

.cses-zirenwu:before {
  content: "\e7eb";
}

.cses-dangqianzhuangtai:before {
  content: "\e7ec";
}

.cses-yulan:before {
  content: "\e7ed";
}

.cses-fuzeren:before {
  content: "\e7ee";
}

.cses-a-tixingweitianjia:before {
  content: "\e7ef";
}

.cses-xiazai:before {
  content: "\e7f0";
}

.cses-renwuliebiao_zirenzhankaixiangxia:before {
  content: "\e7cc";
}

.cses-renwuliebiao_zirenwuzhankai:before {
  content: "\e7cb";
}

.cses-guanbi:before {
  content: "\e7ab";
}

.cses-fujian:before {
  content: "\e7ac";
}

.cses-fangda:before {
  content: "\e79b";
}

.cses-liebiao1:before {
  content: "\e7c5";
}

.cses-fanhui:before {
  content: "\e7c6";
}

.cses-fayanren:before {
  content: "\e7c7";
}

.cses-suolve:before {
  content: "\e7c8";
}

.cses-qizhi:before {
  content: "\e7c3";
}

.cses-rili:before {
  content: "\e7c4";
}

.cses-jiyao:before {
  content: "\e7c2";
}

.cses-tasklist_Kanban:before {
  content: "\e7c0";
}

.cses-tasklist_list:before {
  content: "\e7c1";
}

.cses-canhuiren:before {
  content: "\e7bd";
}

.cses-daojishi:before {
  content: "\e7be";
}

.cses-lishi:before {
  content: "\e7bc";
}

.cses-yudinghuiyi:before {
  content: "\e7bb";
}

.cses-tianjiatupian:before {
  content: "\e7b5";
}

.cses-huibaoshichang:before {
  content: "\e7b6";
}

.cses-canyuchengyuan:before {
  content: "\e7b7";
}

.cses-tianxieshili:before {
  content: "\e7b8";
}

.cses-yuedudaoxiangmoban:before {
  content: "\e7b9";
}

.cses-a-yijianfankui1:before {
  content: "\e7b4";
}

.cses-jixu:before {
  content: "\e7b1";
}

.cses-luzhi1:before {
  content: "\e7b2";
}

.cses-zanting:before {
  content: "\e7b3";
}

.cses-gengduo1:before {
  content: "\e7b0";
}

.cses-hou:before {
  content: "\e7ae";
}

.cses-qian:before {
  content: "\e7af";
}

.cses-xinhao:before {
  content: "\e7aa";
}

.cses-toupiao:before {
  content: "\e7a9";
}

.cses-weizhi:before {
  content: "\e7a8";
}

.cses-xiangqing1:before {
  content: "\e7a7";
}

.cses-gongge:before {
  content: "\e7a4";
}

.cses-yanjiangzhe:before {
  content: "\e7a5";
}

.cses-biaozhun:before {
  content: "\e7a6";
}

.cses-suoshubumen:before {
  content: "\e7a3";
}

.cses-zhuchiren:before {
  content: "\e79e";
}

.cses-ID:before {
  content: "\e79f";
}

.cses-KR1:before {
  content: "\e7a0";
}

.cses-huiyiKR:before {
  content: "\e7a1";
}

.cses-qizhishijian:before {
  content: "\e7a2";
}

.cses-faqiren:before {
  content: "\e79d";
}

.cses-shipin:before {
  content: "\e79c";
}

.cses-tingzhi:before {
  content: "\e799";
}

.cses-tuichu:before {
  content: "\e79a";
}

.cses-yinliang:before {
  content: "\e791";
}

.cses-KR:before {
  content: "\e793";
}

.cses-yuyin_guanbi:before {
  content: "\e794";
}

.cses-yuyin1:before {
  content: "\e796";
}

.cses-luzhi:before {
  content: "\e790";
}

.cses-gengduo:before {
  content: "\e78d";
}

.cses-input:before {
  content: "\e78c";
}

.cses-alert:before {
  content: "\e78a";
}

.cses-CheckCircle:before {
  content: "\e787";
}

.cses-CloseCircle:before {
  content: "\e788";
}

.cses-infoCircle:before {
  content: "\e789";
}

.cses-info-circle:before {
  content: "\e78b";
}

.cses-check-circle:before {
  content: "\e784";
}

.cses-exclamation-circle:before {
  content: "\e785";
}

.cses-close-circle:before {
  content: "\e786";
}

.cses-zujian:before {
  content: "\e782";
}

.cses-moban:before {
  content: "\e783";
}

.cses-renwuguanli:before {
  content: "\e6e4";
}

.cses-xuqiuwendang:before {
  content: "\e780";
}

.cses-tounaofengbao:before {
  content: "\e732";
}

.cses-chengguodaoxiang:before {
  content: "\e6bf";
}

.cses-gongzuoliu:before {
  content: "\e6c6";
}

.cses-zuzhijiagou:before {
  content: "\e6e5";
}

.cses-yuedudaoxiang:before {
  content: "\e6ea";
}

.cses-client_top:before {
  content: "\e6a7";
}

.cses-publish:before {
  content: "\e77e";
}

.cses-demonstration:before {
  content: "\e77f";
}

.cses-save_as:before {
  content: "\e77d";
}

.cses-backspace:before {
  content: "\e77b";
}

.cses-cancel:before {
  content: "\e77c";
}

.cses-current_play:before {
  content: "\e779";
}

.cses-document02:before {
  content: "\e77a";
}

.cses-playback_from_the_beginning:before {
  content: "\e778";
}

.cses-quanxian:before {
  content: "\e777";
}

.cses-suspend_the_meeting:before {
  content: "\e774";
}

.cses-gouxuan_xuanzhong:before {
  content: "\e776";
}

.cses-xiangqing:before {
  content: "\e775";
}

.cses-gouxuan_weixuanzhong:before {
  content: "\e773";
}

.cses-yuedudaoxiang2:before {
  content: "\e772";
}

.cses-jiaruhuiyi:before {
  content: "\e753";
}

.cses-continuation_of_meeting:before {
  content: "\e747";
}

.cses-arrow_up:before {
  content: "\e748";
}

.cses-zhankai1:before {
  content: "\e746";
}

.cses-finish:before {
  content: "\e67d";
}

.cses-wentizhuangtai:before {
  content: "\e771";
}

.cses-permission_setting:before {
  content: "\e770";
}

.cses-reset_current_page:before {
  content: "\e76f";
}

.cses-full_reset:before {
  content: "\e76c";
}

.cses-preview:before {
  content: "\e76d";
}

.cses-submit:before {
  content: "\e76e";
}

.cses-derive:before {
  content: "\e76a";
}

.cses-note_taker:before {
  content: "\e76b";
}

.cses-query02:before {
  content: "\e769";
}

.cses-unfold:before {
  content: "\e768";
}

.cses-convened_meeting:before {
  content: "\e767";
}

.cses-monthly_orientation:before {
  content: "\e764";
}

.cses-yuyin:before {
  content: "\e766";
}

.cses-required:before {
  content: "\e763";
}

.cses-recorded:before {
  content: "\e762";
}

.cses-yifenxiang:before {
  content: "\e72f";
}

.cses-laiyuan:before {
  content: "\e761";
}

.cses-arch02:before {
  content: "\e75d";
}

.cses-xingxing:before {
  content: "\e75e";
}

.cses-rhomboid02:before {
  content: "\e75f";
}

.cses-triangle02:before {
  content: "\e760";
}

.cses-yingyongmoban:before {
  content: "\e75c";
}

.cses-bofang:before {
  content: "\e75b";
}

.cses-qianjin:before {
  content: "\e756";
}

.cses-kuaitui:before {
  content: "\e757";
}

.cses-houtui:before {
  content: "\e758";
}

.cses-liebiao:before {
  content: "\e759";
}

.cses-huiyidanchuang_yiwancheng_shipin_bofang:before {
  content: "\e75a";
}

.cses-houtui-1:before {
  content: "\e755";
}

.cses-cut_out:before {
  content: "\e754";
}

.cses-cancelled:before {
  content: "\e6d4";
}

.cses-video_off:before {
  content: "\e752";
}

.cses-completed03:before {
  content: "\e751";
}

.cses-under_way03:before {
  content: "\e750";
}

.cses-play:before {
  content: "\e74e";
}

.cses-pause:before {
  content: "\e74f";
}

.cses-keshihuabianji:before {
  content: "\e74c";
}

.cses-xialunhuiyi:before {
  content: "\e74b";
}

.cses-subtitles:before {
  content: "\e74a";
}

.cses-crown1:before {
  content: "\e749";
}

.cses-rounded_rectangle:before {
  content: "\e741";
}

.cses-five_pointed_star:before {
  content: "\e742";
}

.cses-rectangle:before {
  content: "\e743";
}

.cses-triangle:before {
  content: "\e744";
}

.cses-roundness:before {
  content: "\e745";
}

.cses-zhankai:before {
  content: "\e740";
}

.cses-picture02:before {
  content: "\e73a";
}

.cses-tabulation:before {
  content: "\e73b";
}

.cses-theme:before {
  content: "\e73c";
}

.cses-text02:before {
  content: "\e73d";
}

.cses-append:before {
  content: "\e73e";
}

.cses-shape:before {
  content: "\e73f";
}

.cses-founder:before {
  content: "\e737";
}

.cses-line:before {
  content: "\e738";
}

.cses-video02:before {
  content: "\e739";
}

.cses-synergy02:before {
  content: "\e736";
}

.cses-operation_in_progress:before {
  content: "\e734";
}

.cses-today_meeting:before {
  content: "\e735";
}

.cses-historical_conference:before {
  content: "\e733";
}

.cses-queding:before {
  content: "\e731";
}

.cses-share02:before {
  content: "\e730";
}

.cses-riqizuo:before {
  content: "\e72d";
}

.cses-riqiyou:before {
  content: "\e72e";
}

.cses-circulate:before {
  content: "\e72c";
}

.cses-upload_pictures:before {
  content: "\e623";
}

.cses-random:before {
  content: "\e62c";
}

.cses-blow_up:before {
  content: "\e72a";
}

.cses-minification:before {
  content: "\e72b";
}

.cses-linked_documents:before {
  content: "\e729";
}

.cses-document:before {
  content: "\e727";
}

.cses-external_link:before {
  content: "\e728";
}

.cses-copy01:before {
  content: "\e726";
}

.cses-draft_box:before {
  content: "\e724";
}

.cses-document_library:before {
  content: "\e725";
}

.cses-entrust:before {
  content: "\e723";
}

.cses-to_do_process:before {
  content: "\e71c";
}

.cses-batch_processing:before {
  content: "\e71d";
}

.cses-workflow_list:before {
  content: "\e71e";
}

.cses-initiated:before {
  content: "\e71f";
}

.cses-deployment_completed:before {
  content: "\e720";
}

.cses-initiate_process:before {
  content: "\e721";
}

.cses-deploy:before {
  content: "\e722";
}

.cses-xuqiuwendang_zhubiaoti:before {
  content: "\e714";
}

.cses-xuqiuwendang_wenzhongzuoduiqi:before {
  content: "\e715";
}

.cses-xuqiuwendang_wenzhongyouduiqi:before {
  content: "\e717";
}

.cses-xuqiuwendang_tupianzuoduiqi:before {
  content: "\e718";
}

.cses-xuqiuwendang_wuxuliebiao:before {
  content: "\e719";
}

.cses-xuqiuwendang_qiehuantupian:before {
  content: "\e71a";
}

.cses-xuqiuwendang_shanchuxian:before {
  content: "\e71b";
}

.cses-xuqiuwendang_youxuliebiao:before {
  content: "\e706";
}

.cses-xuqiuwendang_cibiaoti:before {
  content: "\e707";
}

.cses-xuqiuwendang_youjialie:before {
  content: "\e708";
}

.cses-xuqiuwendang_gongzuoshixiangliebiao:before {
  content: "\e709";
}

.cses-add_link_in_text:before {
  content: "\e70a";
}

.cses-download_pictures:before {
  content: "\e70b";
}

.cses-image_right_aligned:before {
  content: "\e70c";
}

.cses-delete_picture:before {
  content: "\e70d";
}

.cses-align_the_text_to_the_center:before {
  content: "\e70e";
}

.cses-subtitle:before {
  content: "\e70f";
}

.cses-align_the_image_to_the_center:before {
  content: "\e710";
}

.cses-left_column:before {
  content: "\e711";
}

.cses-bold01:before {
  content: "\e712";
}

.cses-marker_pen:before {
  content: "\e713";
}

.cses-add_line_above:before {
  content: "\e705";
}

.cses-gantt_chart_light_up:before {
  content: "\e703";
}

.cses-gantt_chart_normality:before {
  content: "\e704";
}

.cses-gongzuoliu_quanxianshezhi:before {
  content: "\e6f4";
}

.cses-workflow_dropdown:before {
  content: "\e6f0";
}

.cses-workflow_dropdown-copy:before {
  content: "\e949";
}

.cses-expand_right:before {
  content: "\e6ce";
}

.cses-retract_right_side:before {
  content: "\e702";
}

.cses-open_pre_task_details:before {
  content: "\e700";
}

.cses-open_post_task_details:before {
  content: "\e701";
}

.cses-fail_to_edit:before {
  content: "\e6fd";
}

.cses-notice:before {
  content: "\e6fe";
}

.cses-Successfully_modified:before {
  content: "\e6ff";
}

.cses-edit_01:before {
  content: "\e6fc";
}

.cses-version_management:before {
  content: "\e6fb";
}

.cses-inclusive_gateway:before {
  content: "\e6f1";
}

.cses-alignment_Left:before {
  content: "\e6f2";
}

.cses-boundary_condition_event:before {
  content: "\e6f3";
}

.cses-parallel_gateway:before {
  content: "\e6f5";
}

.cses-http_tasks:before {
  content: "\e6f6";
}

.cses-alignment_center:before {
  content: "\e6f7";
}

.cses-intermediate_signal_capture_event_01:before {
  content: "\e6f8";
}

.cses-exclusive_gateway:before {
  content: "\e6f9";
}

.cses-empty_start_event:before {
  content: "\e6fa";
}

.cses-timer_start_event:before {
  content: "\e6c8";
}

.cses-user_tasks:before {
  content: "\e6ca";
}

.cses-stroke_thickness:before {
  content: "\e6cd";
}

.cses-version_settings:before {
  content: "\e6d5";
}

.cses-text:before {
  content: "\e6db";
}

.cses-signal_start_event:before {
  content: "\e6e8";
}

.cses-swim_lane:before {
  content: "\e6e9";
}

.cses-Boundary_error:before {
  content: "\e6eb";
}

.cses-workflow_design_dropdown:before {
  content: "\e6ec";
}

.cses-bold:before {
  content: "\e6ed";
}

.cses-workflow_design_matter:before {
  content: "\e6ee";
}

.cses-strikethrough:before {
  content: "\e6ef";
}

.cses-alignment_stretch_left_and_right:before {
  content: "\e684";
}

.cses-service_task:before {
  content: "\e6ad";
}

.cses-font_size:before {
  content: "\e6b7";
}

.cses-script_task:before {
  content: "\e6b8";
}

.cses-intermediate_timer_capture_event:before {
  content: "\e6b9";
}

.cses-workflow_design_delete:before {
  content: "\e6bb";
}

.cses-intermediate_signal_capture_event:before {
  content: "\e6c0";
}

.cses-frame_zoom_in_and_out:before {
  content: "\e6c1";
}

.cses-boundary_timer_event:before {
  content: "\e6c4";
}

.cses-kehuduan_zuixiaohua1:before {
  content: "\e627";
}

.cses-off03:before {
  content: "\e624";
}

.cses-blow_up02:before {
  content: "\e626";
}

.cses-huiyizhong_liaotian_biaoqing:before {
  content: "\e625";
}

.cses-barrage_close:before {
  content: "\e6e0";
}

.cses-pack_up:before {
  content: "\e6e1";
}

.cses-barrage_open:before {
  content: "\e6e2";
}

.cses-file_version:before {
  content: "\e6e3";
}

.cses-screen_sharing_laser_pointer:before {
  content: "\e6e6";
}

.cses-not_yet_started:before {
  content: "\e6e7";
}

.cses-record_pause:before {
  content: "\e6df";
}

.cses-record_end:before {
  content: "\e6de";
}

.cses-fill_in_kr_alert:before {
  content: "\e6dc";
}

.cses-kr_voting:before {
  content: "\e6dd";
}

.cses-sound_open:before {
  content: "\e6d8";
}

.cses-thumbnail_sound_off:before {
  content: "\e6d9";
}

.cses-put_away:before {
  content: "\e6da";
}

.cses-screen_sharing_re_share:before {
  content: "\e6cf";
}

.cses-to_do_members:before {
  content: "\e6d0";
}

.cses-sound_on:before {
  content: "\e6d1";
}

.cses-copy:before {
  content: "\e6d2";
}

.cses-done:before {
  content: "\e6d6";
}

.cses-video_play:before {
  content: "\e6d7";
}

.cses-video_back:before {
  content: "\e6c2";
}

.cses-retransmission02:before {
  content: "\e6c5";
}

.cses-volume:before {
  content: "\e6c7";
}

.cses-position:before {
  content: "\e6c9";
}

.cses-record:before {
  content: "\e6cb";
}

.cses-time:before {
  content: "\e6cc";
}

.cses-add_a_member:before {
  content: "\e6b0";
}

.cses-conclusion:before {
  content: "\e6b1";
}

.cses-screen_sharing:before {
  content: "\e6b2";
}

.cses-volume02:before {
  content: "\e6b3";
}

.cses-link02:before {
  content: "\e6b4";
}

.cses-lattice_view:before {
  content: "\e6b5";
}

.cses-mouse:before {
  content: "\e6b6";
}

.cses-video_forward:before {
  content: "\e6ba";
}

.cses-huiyizhong_tianjiachengyuan_erweima:before {
  content: "\e6bc";
}

.cses-brush:before {
  content: "\e6bd";
}

.cses-sound_off:before {
  content: "\e6be";
}

.cses-during_speech:before {
  content: "\e620";
}

.cses-top_view:before {
  content: "\e621";
}

.cses-add_a_member02:before {
  content: "\e622";
}

.cses-reading_authority:before {
  content: "\e6ab";
}

.cses-during_the_speech:before {
  content: "\e6ae";
}

.cses-kr_voting_alerts:before {
  content: "\e6af";
}

.cses-eraser:before {
  content: "\e613";
}

.cses-label:before {
  content: "\e618";
}

.cses-screen_capture:before {
  content: "\e61b";
}

.cses-save02:before {
  content: "\e61c";
}

.cses-oriented:before {
  content: "\e61e";
}

.cses-right_view:before {
  content: "\e61f";
}

.cses-huiyizhong_pingmugongxiang_qingkong:before {
  content: "\e608";
}

.cses-label_more_unchecked:before {
  content: "\e6a9";
}

.cses-label_more_selected:before {
  content: "\e6aa";
}

.cses-set_field_movement:before {
  content: "\e6a8";
}

.cses-go_up:before {
  content: "\e6a6";
}

.cses-descend:before {
  content: "\e606";
}

.cses-me:before {
  content: "\e614";
}

.cses-like_not_selected:before {
  content: "\e60b";
}

.cses-more03:before {
  content: "\e60c";
}

.cses-retransmission:before {
  content: "\e60d";
}

.cses-date:before {
  content: "\e60e";
}

.cses-member:before {
  content: "\e610";
}

.cses-encourage:before {
  content: "\e6a5";
}

.cses-early_warning:before {
  content: "\e6a4";
}

.cses-cross:before {
  content: "\e6a3";
}

.cses-zhudaohangqu_zhankai:before {
  content: "\e6a1";
}

.cses-zhudaohangqu_shouqi:before {
  content: "\e6a2";
}

.cses-renwuguanli_xinjianrenwu_quxiao:before {
  content: "\e68e";
}

.cses-renwuguanli_xinjianrenwu_guaqi:before {
  content: "\e6a0";
}

.cses-download01:before {
  content: "\e693";
}

.cses-edit:before {
  content: "\e694";
}

.cses-red_dot:before {
  content: "\e695";
}

.cses-collaborators_delete:before {
  content: "\e696";
}

.cses-plus:before {
  content: "\e697";
}

.cses-personnel_list_department:before {
  content: "\e698";
}

.cses-weak_reminder_bell:before {
  content: "\e699";
}

.cses-weak_reminder:before {
  content: "\e69a";
}

.cses-recycle_bin_details:before {
  content: "\e69b";
}

.cses-people_list_collapsed:before {
  content: "\e69c";
}

.cses-select_collaborators_drop_down:before {
  content: "\e69d";
}

.cses-more02:before {
  content: "\e69e";
}

.cses-work_items_add:before {
  content: "\e69f";
}

.cses-attachment_details:before {
  content: "\e690";
}

.cses-collaborator_selection_select:before {
  content: "\e691";
}

.cses-add01:before {
  content: "\e692";
}

.cses-synergy:before {
  content: "\e64c";
}

.cses-reminder_settings:before {
  content: "\e68c";
}

.cses-side_display:before {
  content: "\e68d";
}

.cses-share:before {
  content: "\e68f";
}

.cses-filter_dropdown:before {
  content: "\e68b";
}

.cses-filter_unselected:before {
  content: "\e689";
}

.cses-filter_select:before {
  content: "\e68a";
}

.cses-label_removal:before {
  content: "\e687";
}

.cses-more01:before {
  content: "\e688";
}

.cses-global_search:before {
  content: "\e686";
}

.cses-select_box_select:before {
  content: "\e683";
}

.cses-check_box_unselected:before {
  content: "\e685";
}

.cses-subtasks:before {
  content: "\e637";
}

.cses-refresh:before {
  content: "\e680";
}

.cses-list_expand:before {
  content: "\e681";
}

.cses-set_field:before {
  content: "\e682";
}

.cses-overdue:before {
  content: "\e67a";
}

.cses-ahead_of_schedule:before {
  content: "\e67b";
}

.cses-start_stop_date:before {
  content: "\e67c";
}

.cses-take_time:before {
  content: "\e67e";
}

.cses-drag02:before {
  content: "\e67f";
}

.cses-section:before {
  content: "\e66f";
}

.cses-module:before {
  content: "\e679";
}

.cses-item:before {
  content: "\e667";
}

.cses-item02:before {
  content: "\e66b";
}

.cses-my_mission_light_up:before {
  content: "\e63e";
}

.cses-recycle_bin_normal:before {
  content: "\e63f";
}

.cses-my_task_normal:before {
  content: "\e640";
}

.cses-pending_normality:before {
  content: "\e641";
}

.cses-i_created_lit:before {
  content: "\e642";
}

.cses-task_processing_light_up:before {
  content: "\e643";
}

.cses-pending_lit:before {
  content: "\e644";
}

.cses-recycle_bin_lit:before {
  content: "\e652";
}

.cses-task_processing_normality:before {
  content: "\e65a";
}

.cses-new:before {
  content: "\e65b";
}

.cses-lane_add_new_task:before {
  content: "\e660";
}

.cses-i_created_normal:before {
  content: "\e661";
}

.cses-sort:before {
  content: "\e635";
}

.cses-sort_light:before {
  content: "\e636";
}

.cses-sort_pull_down:before {
  content: "\e638";
}

.cses-sort_pull_down_lit:before {
  content: "\e639";
}

.cses-filter_light:before {
  content: "\e63b";
}

.cses-check_arrow:before {
  content: "\e630";
}

.cses-minimization:before {
  content: "\e62a";
}

.cses-maximize:before {
  content: "\e62e";
}

.cses-organization_structure_normal:before {
  content: "\e63a";
}

.cses-cloud_eye_normal:before {
  content: "\e63c";
}

.cses-approval_normal:before {
  content: "\e63d";
}

.cses-file_stream_normal:before {
  content: "\e628";
}

.cses-task_management_normality:before {
  content: "\e62f";
}

.cses-message_normal:before {
  content: "\e632";
}

.cses-score_normal:before {
  content: "\e633";
}

.cses-okr_version_normal:before {
  content: "\e634";
}

.cses-requirement_documentation_normal:before {
  content: "\e629";
}

.cses-new_document:before {
  content: "\e678";
}

.cses-import_documents:before {
  content: "\e66d";
}

.cses-unpublish:before {
  content: "\e66e";
}

.cses-download:before {
  content: "\e670";
}

.cses-switch_off:before {
  content: "\e671";
}

.cses-history_record:before {
  content: "\e672";
}

.cses-move:before {
  content: "\e673";
}

.cses-top:before {
  content: "\e674";
}

.cses-collect:before {
  content: "\e675";
}

.cses-delete_document_20:before {
  content: "\e676";
}

.cses-switch_on:before {
  content: "\e677";
}

.cses-drag:before {
  content: "\e66c";
}

.cses-merge:before {
  content: "\e649";
}

.cses-save:before {
  content: "\e66a";
}

.cses-cmd:before {
  content: "\e668";
}

.cses-delimiter:before {
  content: "\e669";
}

.cses-table:before {
  content: "\e666";
}

.cses-quote:before {
  content: "\e659";
}

.cses-code_block:before {
  content: "\e65c";
}

.cses-recover:before {
  content: "\e65d";
}

.cses-shift:before {
  content: "\e65e";
}

.cses-search:before {
  content: "\e65f";
}

.cses-opt:before {
  content: "\e662";
}

.cses-picture:before {
  content: "\e663";
}

.cses-delete_01:before {
  content: "\e664";
}

.cses-recycle_bin_delete:before {
  content: "\e665";
}

.cses-release:before {
  content: "\e64a";
}

.cses-add:before {
  content: "\e64b";
}

.cses-ordered_list:before {
  content: "\e64d";
}

.cses-drop_down:before {
  content: "\e64e";
}

.cses-work_list:before {
  content: "\e64f";
}

.cses-subtitle_2:before {
  content: "\e650";
}

.cses-subtitle_01:before {
  content: "\e651";
}

.cses-delete_02:before {
  content: "\e653";
}

.cses-link:before {
  content: "\e654";
}

.cses-main_heading:before {
  content: "\e655";
}

.cses-unordered_list:before {
  content: "\e656";
}

.cses-updated:before {
  content: "\e657";
}

.cses-more:before {
  content: "\e658";
}

.cses-task_card_workItem:before {
  content: "\e648";
}

.cses-task_card_time:before {
  content: "\e645";
}

.cses-task_card_Taketime:before {
  content: "\e646";
}

